[Desktop Entry]
Type=Application
Version=1.5
Name=QR Studio
Name[de]=QR Studio
Name[en]=QR Studio
Name[es]=QR Studio
Name[fr]=QR Studio
Name[it]=QR Studio
Name[pt_BR]=QR Studio
Name[ja]=QR Studio
Name[ko]=QR Studio
Name[zh_CN]=QR Studio
Comment=QR-Codes erstellen und anpassen
Comment[de]=QR-Codes erstellen und anpassen
Comment[en]=Create and customize QR codes
Comment[es]=Crear y personalizar códigos QR
Comment[fr]=Créer et personnaliser des codes QR
Comment[it]=Creare e personalizzare codici QR
Comment[pt_BR]=Criar e personalizar códigos QR
Comment[ja]=QRコードを作成・カスタマイズ
Comment[ko]=QR 코드 생성 및 맞춤 설정
Comment[zh_CN]=创建和自定义二维码
Icon=io.github.SlobCoder.qr_studio
Exec=qr_studio
Terminal=false
Categories=Graphics;Utility;GTK;
Keywords=QR;QR-Code;Barcode;Generator;
Keywords[de]=QR;QR-Code;Barcode;Generator;
Keywords[en]=QR;QR Code;Barcode;Generator;
Keywords[es]=QR;código QR;código de barras;generador;
Keywords[fr]=QR;code QR;code-barres;générateur;
Keywords[it]=QR;codice QR;codice a barre;generatore;
Keywords[pt_BR]=QR;código QR;código de barras;gerador;
Keywords[ja]=QR;QRコード;バーコード;ジェネレーター;
Keywords[ko]=QR;QR 코드;바코드;생성기;
Keywords[zh_CN]=QR;二维码;条形码;生成器;
StartupNotify=true
StartupWMClass=io.github.SlobCoder.qr_studio
MimeType=image/png;image/svg+xml;
Name[de_CH]=QR Studio
Name[de_CH.UTF-8]=QR Studio
Comment[de_CH]=QR-Codes erstellen und anpassen
Comment[de_CH.UTF-8]=QR-Codes erstellen und anpassen
Keywords[de_CH]=QR;QR-Code;Barcode;Generator;
Keywords[de_CH.UTF-8]=QR;QR-Code;Barcode;Generator;
PrefersNonDefaultGPU=false
Hidden=false
NoDisplay=false
